page-profile{

    body {
      overflow-y: hidden;
    }

    ion-content div.slides-content {
      width: 100%;
      height: 100%;
    }

    ion-list{
      margin: 0px !important;
      width: 100% !important;
      height: 100% !important;
    }


  .slide-zoom {
      height: 100%;
    }

    .slide-title {
      margin-top: 2rem;
      font-size: 28px;
    }

    .slider-pager {
      padding: 0 auto;
      margin: 0 auto;
    }

    .profile-slider-image{
      position:relative;
      width: 100%;
      height: 120px;
      overflow: hidden;
    }

    .slide-image img {
      width: 100% !important;
      height: 100% !important;
    }

  .swiper-slide img{
    max-height: none !important;
  }

    b {
      font-weight: 500;
    }

    p {
      padding: 0;
      font-size: 16px;
      line-height: 0.5em;
      color: #000000;

      b {
        color: #000000;
      }
    }
    ion-icon {
      padding-right: 10px;
      padding-left: 5px;
    }


    ion-icon.forward-arrow{
      padding-right: 0px !important;;
    }

  .profileImg {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .username {
    padding-top: 15px;
  }

}


