
<ion-header>
  <ion-navbar color="reallydark" no-border-bottom>
    <ion-title>
    </ion-title>
    <ion-buttons start>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-grid style="background-color: #f4f4f4">
    <ion-row>
      <ion-col>
        <div class="profileImg">
          <ion-thumbnail item-start>
            <img width="100px" height="100px" src="../../assets/imgs/profilpic1.png">
          </ion-thumbnail>
        </div>
      </ion-col>
      <ion-col>
        <div class="username">
          <p>Username</p>
        </div>
        <div class="userinfo">
          <p>23, FH Hagenberg</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-navbar color="dunkelblue" hideBackButton no-border-bottom>
    <ion-title>
      My Events
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="dunkelblue" no-border-top>
    <ion-segment [(ngModel)]="eventType" color="light">
      <ion-segment-button value="today">
        Today
      </ion-segment-button>
      <ion-segment-button value="upcoming">
        Upcoming
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <div [ngSwitch]="eventType">
    <ion-list *ngSwitchCase="'upcoming'">
      <ion-slides pager>
        <ion-slide *ngFor="let item of upcomingEvent | async" >
          <div class="profile-slider-image">
          <img [src]="item.image" class="slide-image"/>
          </div>
          <h2 class="slide-title" [innerHTML]="item.text"></h2>
          <h3 [innerHTML]="item.date"></h3>
          <p [innerHTML]="' Starts at '+ item.time +' oClock'"></p>
          <p><span class="pin"><ion-icon name="pin"></ion-icon></span><span class="location" [innerHTML]="item.location"></span></p>
          <button ion-button round class="btn-details" color="knallorange">Details
            <ion-icon class="forward-arrow" name="arrow-forward"></ion-icon>
          </button>
        </ion-slide>
      </ion-slides>
    </ion-list>

    <ion-list *ngSwitchCase="'today'">
      <ion-slides pager >
        <ion-slide *ngFor="let item of todayEvent | async">
          <div class="profile-slider-image">
          <img [src]="item.image" class="slide-image"/>
          </div>
          <h2 class="slide-title" [innerHTML]="item.text"></h2>
          <h3 [innerHTML]="item.date"></h3>
          <p [innerHTML]="' Starts at '+ item.time +' oClock'"></p>
          <p><span class="pin"><ion-icon name="pin"></ion-icon></span><span class="location" [innerHTML]="item.location"></span></p>
          <button ion-button round class="btn-details" color="knallorange" (click)="showEventDetails(item)">Details
            <ion-icon class="forward-arrow" name="arrow-forward"></ion-icon>
          </button>
        </ion-slide>
      </ion-slides>
    </ion-list>
  </div>
</ion-content>
