
<ion-header>
  <ion-toolbar color="reallydark">
    <ion-buttons start>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" *ngIf="!isLogin" (click)="login()">
        Login <ion-icon name="contact"></ion-icon>
      </button>
      <button ion-button icon-only color="royal" *ngIf="isLogin" (click)="logout()">
        Logout <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-navbar  color="dunkelblue" no-border-bottom hideBackButton>
    <ion-title>
      Events
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="dunkelblue" no-border-top>
    <ion-segment [(ngModel)]="eventType" color="light">
      <ion-segment-button value="today">
        Today
      </ion-segment-button>
      <ion-segment-button value="upcoming">
        Upcoming
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <div [ngSwitch]="eventType">
    <ion-list *ngSwitchCase="'upcoming'">
      <ion-slides pager>
        <ion-slide *ngFor="let item of upcomingEvent | async" >
          <img [src]="item.image" class="slide-image"/>
          <h2 class="slide-title" [innerHTML]="item.text"></h2>
          <h3 [innerHTML]="item.date"></h3>
          <p [innerHTML]="item.time"></p>
          <p [innerHTML]="item.location"><ion-icon name="pin"></ion-icon></p>
          <button ion-button round class="btn-details" color="knallorange" (click)="showEventDetails(item)">Details
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-slide>
      </ion-slides>
    </ion-list>

    <ion-list *ngSwitchCase="'today'">
      <ion-slides pager >
        <ion-slide *ngFor="let item of todayEvent | async">
          <img [src]="item.image" class="slide-image"/>
          <h2 class="slide-title" [innerHTML]="item.text"></h2>
          <h3 [innerHTML]="item.date"></h3>
          <p [innerHTML]="item.time"></p>
          <p [innerHTML]="item.location"><ion-icon name="pin"></ion-icon></p>
          <button ion-button round class="btn-details" color="knallorange" (click)="showEventDetails(item)">Details
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-slide>
      </ion-slides>
    </ion-list>
  </div>
</ion-content>
