page-home{
    body {
      overflow-y: hidden;
    }

    .slide-zoom {
      height: 100%;
    }

    .slide-title {
      margin-top: 1rem;
    }

    .slide-image {
      height: 200px;
    }

    b {
      font-weight: 500;
    }

    p {
      padding: 0 0px;
      font-size: 14px;
      line-height: 1;
      color: #60646B;

      b {
        color: #000000;
      }
    }


}


