page-loggedInHome{

    body {
      overflow-y: hidden;
    }

    .slide-zoom {
      height: 100%;
    }

    .slide-title {
      margin-top: 2rem;
      font-size: 28px;
    }

    .slider-pager {
      padding: 0 auto;
      margin: 0 auto;
    }

    .slide-image {
      height: 200px;
    }

    b {
      font-weight: 500;
    }

    p {
      padding: 0;
      font-size: 20px;
      line-height: 0.5em;
      color: #60646B;

      b {
        color: #000000;
      }
    }
    ion-icon {
      padding-left: 10px;
    }
}


